<div id="cookie-banner-overlay">
    <div class="cookie-banner-container">
        <div class="cookie-banner-text">
            <h1>Cookie Settings</h1>
            <form id="cookie-consent-form" onsubmit="onCookieFormSubmit()">
                <input type="checkbox"
                       id="ad_storage"
                       name="ad_storage"
                       value="granted">
                <label for="ad_storage"> Ad Storage</label>
                <input type="checkbox"
                       id="analytics_storage"
                       name="analytics_storage"
                       value="granted">
                <label for="analytics_storage"> Analytics Storage</label>
                <div class="cookie-btns">
                    <a class="default btn"
                       href="javascript:;"
                       onclick="onCookieAcceptAll()">Accept All</a>
                    <a class="default btn"
                       href="javascript:;"
                       onclick="onCookieDenyAll()">Deny All</a>
                    <a class="btn"
                       href="javascript:;"
                       onclick="onCookieFormSubmit()">Save Custom</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="cookie-banner-icon" onclick="toggleCookieBanner();">
    <img src="{{ url_for('static', filename='images/cookie.png') }}"/>
</div>

<script src="{{ url_for('static', filename='js/cookie-banner.js') }}"></script>
