{% extends "base.html" %}

{% block title %}
Thank you | Demo E-commerce Store
{% endblock %}

{% block content %}
<div class="container-fluid container-highlight">
    <h2>Thank you for your order</h2>
    <p>Order ID: {{ content.transaction_id }}</p>
    <ul class="ordered-products">
        {% for sku, basket_product in content.basket.products.items() %}
            <li>{{ basket_product.quantity }} x {{ basket_product.product.name }} = {{ basket_product.get_formatted_price() }}</li>
        {% endfor %}
        <li class="total">TOTAL: {{ content.basket.get_formatted_price() }}</li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
  const CURRENCY = "GBP";

  dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
  dataLayer.push({
    event: "purchase",
    ecommerce: {
        transaction_id: "{{ content.transaction_id }}",
        value: {{ content.basket.get_total_price() }},
        currency: CURRENCY,
        items: [
        {% for basket_product in content.basket.products.values() %}
          {
            item_id: "{{ basket_product.product.sku }}",
            item_name: "{{ basket_product.product.name }}",
            price: {{ basket_product.product.price }},
            currency: CURRENCY,
            quantity: {{ basket_product.quantity }}
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  });
</script>
{% endblock %}
