{% extends "base.html" %}

{% block title %}
Products | Demo E-commerce Store
{% endblock %}

{% block content %}
<div class="row">
    {% for product in content.products %}
        <div class="col">
            <div class="container-fluid container-highlight">
                <div class="product">
                    <a href="{{ url_for('product_page', sku=product.sku) }}">
                        <img class="product-image"
                             src="{{ url_for('static', filename='images/'+ product.image) }}" />
                    </a>
                    <div class="product-text">
                        <h3>{{ product.name }}: {{ product.get_formatted_price() }}</h3>
                        <a class="btn"
                           href="{{ url_for('product_page', sku=product.sku) }}">View Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
